<form class="ui segment form" action="/dashboard/addgoal" method="POST">
    <div class="three fields">
        <div class="field">
            <label>Weight</label>
            <input placeholder="00.00kg" type="number" step="0.01" name="weight">
        </div>
    </div>
    <button class="ui blue submit button"> Add Goal</button>
</form>
